* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(99, 199, 239, 0.912);

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

body {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 500px;
  background-color: #fff;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  margin: 10px;
}

header {
  width: 100%;
}

.app-header-wrapper {
  position: relative;
}

.app-header-wrapper img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.app-header-wrapper .banner {
  height: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #fff;
  box-shadow: 0px -11px 4px 0px rgba(0, 0, 0, 0.3);
}

.app-logo {
  width: 40px;
  height: 40px;
}

#popup-content {
  width: 100%;
}

.popup-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.popup-info-item .title {
  font-weight: bold;
  margin-right: 10px;
  width: 150px;
  color: #555;
}

.popup-info-item input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #333;
}

.popup-info-item input[type="text"]:focus {
  border-color: #008060;
  outline: none;
}

.popup-info-item input[type="text"] {
  border: solid 0.5px #379dde0a !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
}

.popup-info-item button.copy {
  min-width: 75px;
  color: #fff;
  border: none;
  padding: 6px 10px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
}

.popup-info-item button.copy:hover {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.24),
    0 23px 64px 0 rgba(0, 0, 0, -0.81);
}

a.redirect-link {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  background-color: #f7f7f7;
}

a.redirect-link:hover {
  background: #64c3cf12;
}

.redirect-link-content {
  border: solid 0.5px #379dde0a !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
  padding: 6px 20px;
  width: 235px;
  position: relative;
}

.redirect-link-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.popup-empty {
  text-align: center;
  font-size: 12px;
  margin: 5px 0 15px 0;
  font-weight: bold;
}

img.no-result-message {
  width: 150px;
}

/* Left sidebar for buttons */

.dashboard {
  display: flex;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.dashboard-content {
  width: 100%;
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.sidebar {
  width: 10%;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding-top: 30px;
  margin-left: 10px;
}

.sidebar button {
  background: none;
  border: none;
  color: #ecf0f1;
  padding: 20px 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-left: 4px solid transparent;
  transition: background-color 0.3s, border-left-color 0.3s;
}

.sidebar button:hover {
  background-color: #b3b3b3;
}

.sidebar button.active {
  background-color: #d1d1d1;
  border-left-color: #848484;
  font-weight: bold;
}

/* Main content area */
.content {
  flex-grow: 1;
  padding: 0;
  background-color: #fff;
  overflow: auto;
}

/* Hide all tabs by default */
.tab {
  display: none;
}

/* Show active tab */
.tab.active {
  display: block;
}

.tab-btn svg {
  width: 30px;
  height: 30px;
}

.section-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  min-height: 110px;
  max-width: 430px;
  color: #fff;
  padding: 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.section-content.store-info {
  background-image: url("images/store-info-bg.jpg");
  /* background-color: #9fb3df; */
}
.section-content.theme-info {
  background-image: url("images/theme-info-bg.jpg");
  /* background-color: #9ec6f3; */
}

.section-content.boost-info {
  background-image: url("images/boost-info-bg.jpg");
  /* background-color: #bddde4; */
}

.section-content.jira-info {
  background-image: url("images/jira-background.png");
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: 18%;
}

a.button-link {
  color: #fff;
  display: block;
}

.data-field .copy-btn {
  opacity: 0;
  background: unset;
  border: unset;
  margin-left: 5px;
  cursor: pointer;
}

.data-field:hover .copy-btn {
  opacity: 1;
}

.copy-btn svg {
  width: 15px;
  height: 15px;
}

.copy-btn svg.clicked {
  animation: zoomEffect 0.3s;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.jira-content {
  width: 90%;
  margin: auto;
}

.button-link.jira-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background: #0290ff;
  border-radius: 15px;
  padding: 5px 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-shadow: 1px 2px 0px rgb(15 199 230 / 60%);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button-link.jira-link:hover,
.button-link.jira-link:focus,
.button-link.jira-link:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.cache-indicator {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.cache-indicator > span {
  color: #fff;
  background: #eaae11;
  padding: 2px 7px;
  font-size: 8px;
  border-radius: 15px;
  font-weight: 500;
}

.data-field {
  cursor: pointer;
}
